.header {
    background-image: url('books_transparent.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid  rgba(10, 34, 73, 0.8);
    border-top: 1px solid  rgba(10, 34, 73, 0.8);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.headline {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(10, 34, 73, 0.9); 
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    letter-spacing: 2px;
}